<% if !sport_properties.blank? %>
  <% sport_properties.all.each do |sport_property| %>
    <% property = Property.find(sport_property.property_id) %>
    <div>
      <%= hidden_field_tag 'court[court_properties_attributes][][property_id]',property.id %>
      <%= label_tag :property_ids, property.name -%>
      <%= text_field_tag 'court[court_properties_attributes][][property_value]',sport_property.default_value %>
      <%= property.unit -%>
    </div>
  <%end%>
<% else %>
<% end %>

