  <ul class="nav nav-tabs">
    <li class="<%= 'active' if active_path.present? && active_path == user_master_gyms_path %>">
      <%= link_to t('user.nav.main_menu.common.my', model: Gym.model_name.human), user_master_gyms_path %>
    </li>
