  <ul class="nav nav-tabs">
    <li class="<%= 'active' if active_path.present? && active_path == user_master_gym_reports_path %>">
      <%= link_to t('我的场馆'), user_master_gym_reports_path %>
    </li>
    <li class="<%= 'active' if active_path.present? && active_path == new_user_master_gym_path %>">
      <%= link_to t('新建场馆'), new_user_master_gym_path %>
    </li>
