  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to t('user.nav.main_menu.common.new', model: Gym.model_name.human), new_user_master_gym_path %>
    </li>
  </ul>
<%= render 'form' %>
