<tr>
  <% grid.columns(*options[:columns]).each do |column| %>
    <th class="<%= datagrid_column_classes(grid, column) %>">
      <span><%= column.header %></span>
      <%= datagrid_order_for(grid, column) if column.order && options[:order]%>
    </th>
  <% end %>
</tr>
