    <div class="activity_list">
      <ul>
        <li>
        <dl class="dl-horizontal">
          <dt class="act_pic">
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
            <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
          </a>
          </dt>
          <dd class="act_txt">
          <span title="玩儿不官方认证活动" class="mr5"></span>
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
          <p class="mt10">5月21日--12月31日</p>
          <p class="mt10">玩儿不运动</p>
          </dd>
        </dl>
        </li>
        <li class="hotcmt">
        <dl class="dl-horizontal">
          <dt class="act_pic">
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
            <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
          </a>
          </dt>
          <dd class="act_txt">
          <span title="玩儿不官方认证活动" class="mr5"></span>
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
          <p class="mt10">5月21日--12月31日</p>
          <p class="mt10">玩儿不运动</p>
          </dd>
        </dl>
        </li>
        <li class="hotcmt">
        <dl class="dl-horizontal">
          <dt class="act_pic">
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
            <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
          </a>
          </dt>
          <dd class="act_txt">
          <span title="玩儿不官方认证活动" class="mr5"></span>
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
          <p class="mt10">5月21日--12月31日</p>
          <p class="mt10">玩儿不运动</p>
          </dd>
        </dl>
        </li>
      </ul>
    </div><!--hot_activity--->
