  <ul class="nav nav-tabs">
    <li class="<%= 'active' if active_path.present? && active_path == admin_master_gym_reports_path %>">
      <%= link_to t('admin.nav.main_menu.common.list', model: Gym.model_name.human), admin_master_gym_reports_path %>
    </li>
