      <div class="">
        <div class="container">
          <button type="button" class="btn navbar-btn" data-toggle="collapse" data-target=".nav_main">
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">我的玩儿不</a>
          <div class="nav_main navbar-collapse collapse">
            <ul class="nav">
              <li>
                <%= link_to '主页', root_path %>
              </li>
            </ul>

            <div class="btn-group pull-right">
              <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-user glyphicon-white"></i>&nbsp;&nbsp;<%= current_user.login_id %></a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;编辑个人信息
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, {method: :DELETE} do %>
                    <i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;退出账户
                  <% end %>
                </li>
              </ul>
            </div>

          </div><!--/.navbar-collapse -->
        </div>
      </div>
