  <ul class="nav nav-tabs">
    <li class="<%= 'active' if active_path.present? && active_path == admin_master_admin_reports_path %>">
      <%= link_to t('admin_nav.main_menu.master.admins.items.list'), admin_master_admin_reports_path %>
    </li>
    <li class="<%= 'active' if active_path.present? && active_path == new_admin_master_admin_path %>">
      <%= link_to t('admin_nav.main_menu.master.admins.items.new'), new_admin_master_admin_path %>
    </li>
