  <ul class="nav nav-tabs">
    <li class="<%= 'active' if active_path.present? && active_path == admin_master_admin_reports_path %>">
      <%= link_to t('admin.nav.main_menu.common.list', model: Admin.model_name.human), admin_master_admin_reports_path %>
    </li>
    <li class="<%= 'active' if active_path.present? && active_path == new_admin_master_admin_path %>">
      <%= link_to t('admin.nav.main_menu.common.new', model: Admin.model_name.human), new_admin_master_admin_path %>
    </li>
