
<div class="data">
  <dl>
    <dt>
      Email
    </dt>
    <dd>
      <%= @admin.email -%>
    </dd>

    <dt>
      Login_id
    </dt>
    <dd>
      <%= @admin.login_id -%>
    </dd>
  </dl>
</div>
