<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/properties/sub_menu_start', :locals => {:active_path => new_admin_master_property_path } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-main'>
  <%= render 'form' -%>
</div>
