/* -----------------------------------------------------
 * 共通的变量定义
 * ----------------------------------------------------- */
// 整个后台系统的主色调
$wanerbuSystemBaseColor: #0088cc;
// 整个后台系统的主色调对应的深色调
$wanerbuSystemBaseColorDeep: #0055cc;




/* -----------------------------------------------------
 * 开始定义一些公用功能的mixin(base级别用)
 * ----------------------------------------------------- */





/* -----------------------------------------------------
 * 共通的基本样式定义
 * ----------------------------------------------------- */
.wb-clear-left {
  clear: left;
}

.wb-clear-right {
  clear: right;
}

.wb-clear-both {
  clear: both;
}
