/* -----------------------------------------------------
 * 共通的变量定义
 * ----------------------------------------------------- */





/* -----------------------------------------------------
 * 开始定义一些公用功能的mixin(base级别用)
 * ----------------------------------------------------- */





/* -----------------------------------------------------
 * 共通的基本样式定义
 * ----------------------------------------------------- */
.wb-clear-left {
  clear: left;
}

.wb-clear-right {
  clear: right;
}

.wb-clear-both {
  clear: both;
}
