@charset "UTF-8";

/*标签级别前台共通样式*/
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,bloc
kquote,th,td,ins,img {
  margin:0;padding:0;word-wrap:break-word
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
  font:12px/22px verdana,Arial,Helvetica,'宋体',sans-serif;color:#333;
  background-color: #e5e5e5;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
em {
  font-style: normal;
}

/*常量*/
.mt10{margin-top:10px}
.mt20 {margin-top: 20px!important;}
.mt40 {margin-top: 40px!important;}
.ml5 { margin-left: 5px;}
.ml15 {margin-left: 15px;}
.ml10{margin-left: 10px;}
.mr5 { margin-right: 5px;}
.mr10 {margin-right: 10px;}
.m5 {margin: 0 5px;}
.fs14 {font-size: 14px;}
.right {float: right;}
.left {float: left;}
.cSport{color:#39c!important} 
.c999 {color: #999999 !important;}
.cf60{color: #FF6600;}

/*class id 级别前台共通样式*/
.container{
  width:970px;
  background-color:white; margin-top:0px;
}
.ui_row {
  width:100%;
  float:left;
}
.ui_left {
  width:65%;
  float:left;
}
.ui_right{
  width:30%;
  float:left;
  margin-left:5%;
}

.title{
  font-size: 16px;
}
.pho-text{
width: 120px;
}
.vla-text{
width: 50px;
}
/*活动列表样式*/
.activity_list dt {
  width: 100px;
}
.activity_list dd {
  margin-left: 106px;
}
.hotcmt{margin-top:20px}
/*覆盖bootstrap中的样式*/
.nav-tabs {
  border-bottom: 2px solid #1885AE;
}
/* -----------------------------------------------------
 * 自己定义翻页组件样式的部分(如果和bootstrap的
 * pagination有冲突, 会覆盖bootstrap的)
 * ----------------------------------------------------- */
.wb-pagination ul li {
  display :inline;
}
.wb-pagination a:hover{background:#f60;color:#fff;text-decoration:none}
.wb-pagination .active a {background:#3ae;color:#fff}
.wb-pagination a{
  color:#39c;
  padding-left:5px; 
  padding-right:5px; 
}
.wb-pagination a:hover{background:#3ae}
/*
*验证码样式
*/
