// Place all the styles related to the gym controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";

.payOrderSteps {
  background-color: #EEEEEE;
  overflow-y: hidden;
}
.payOrderSteps li {
  color: #999999;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 25%;
}
.step1, .step2, .step3, .step4 {
  text-indent: -8px;
}
.setp_active{
  color: #3399CC !important;
}
.nav > li > a {
  display: block;
  padding: 10px 3px;
}
.ui_left{
  border-color: #BEE5F2;
  border-style: solid;
  border-width: 1px;
  width: 82%;
}
.seatViewTitle {
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  position: relative;
}
.seatViewInfo{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #F7F7F7;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  display: block;
  height: 60px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.seatViewInfo ul li {
  float: left;
  text-align: center;
  width: 60px;
}

.seatViewInfo span {
  cursor: default;
  width: 45px;
}
.hasSeat, .checkSeat, .vipSeat, .actSeat, .sellSeat, .overSeat {
  border-color: #BDBDBD;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}

.sellSeat {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FF573F;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  overflow-x: auto;
}

.checkSeat {
  background-image: url("cheakSeat.gif");
  background-position: center 4px;
  background-repeat: no-repeat;
}

.hasSeat, .checkSeat{
  cursor: pointer;
  font-size: 10px;
}

.has_pk dt {
  float: left;
  margin-top: 25px;
  text-align: right;
  width: 75px;
}
.has_pk dt span {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 70px;
}
.has_pk dd{
  overflow-y: hidden;
}
.pk_table {
  overflow-x: auto;
  width: -moz-max-content;
}
.pk_rows {
  height: 30px;
  line-height: 30px;
}
.pk_cols {
  float: left;
  margin-right: 8px;
  text-align: center;
  width: 45px;
}

.has_pk_p dt {
  float: left;
  text-align: right;
  width: 100px;
}
.has_pk_p dt span {
  display: block;
  height: 70px;
  line-height: 30px;
  width: 70px;
}
.has_pk_p dd{
  overflow-y: hidden;
}
.pk_table_p {
  width: -moz-max-content;
}
.pk_rows_p {
  height: 60px;
  margin-top: 5px;
}
.pk_cols_p {
  float: left;
  margin-right: 8px;
  text-align: center;
}
.pk_cols_p span.select {
  border-color: #FF6600;
  color: #FF6600;
  font-weight: bold;
}
.pk_cols_p span {
  background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDF4FF
  100%) repeat scroll 0 0 transparent;
  border: 1px solid #B7D2E7;
  color: #000000;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
  width: 145px;
}
.ui_right {
  background-color: #F1FBFF;
  width: 18%;
  margin-left: 0px;
  border-color: #BEE5F2;
  border-style: solid;
  border-width: 1px;
}
.row-fluid .span2 {
  width: 16.89%;
  margin-left: 0.13%;
}

a, a:hover {
  -moz-text-blink: none;
  -moz-text-decoration-color: -moz-use-text-color;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
}
a {
  color: #CC3300;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: 0;
}
em{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
}

.cred {
  color: #FF0000;
}

.choose_games_txt{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  float: left;
}

.pews {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFFFFF;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-color: #3399CC;
  border-style: solid;
  border-width: 1px;
  color: #3399CC;
  height: 26px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 0;
  text-align: center;
  width: 96px;
}
.isSite {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #3399CC;
  color: #3399CC;
  float: left;
  font-size: 11px;
  margin: 0 5px 5px 0;
  text-align: left;
  width: 160px;
}
#checkedHas .isSite{
  float: none;
}
.rightBox {
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  float: left;
}

.innder{
  padding-left: 5px;
}
