.formtastic {
  .input {
    padding: 15px 0 10px 0;
  }

  li.input {
    border-color: #AAAAAA;
    border-style: dotted;
    border-width: 0 0 1px;
    
    label {
      color: black;
      background-color: white;
      text-align: right;
      padding-right: 15px;
    }
  }

  // 这样使得选项的说明文字和选项框挨在一起
  li.choice {
    label {
      text-align: left;
    }
  }

  // 单选radio的配置覆盖，这样设置以后，可以保障选项和标签label在同一行开始
  .choices-group {
    padding: 0;
    width: 70%;
  }
}


legend {
  font-size: 16px;
}

// validation错误提示
.formtastic .inline-errors {
  display: inline;
  margin: 0 0 0 5px;
}

// 必须入力提示符*
abbr[title="required"] {
  padding-left: 5px;
  vertical-align: middle;
  color: #CC0000;
  font-size: 1.5em;
}


